<div>
  <h1 class="text-5xl font-bold mb-6"><%= @term.word %></h1>

  <% if @term.definition.present? %>
    <div class="mb-8">
      <h2 class="text-2xl font-semibold mb-2">Definition</h2>
      <p class="text-xl leading-relaxed"><%= sanitize @term.definition, tags: %w(a), attributes: %w(href) %></p>
    </div>
  <% end %>

  <% if @term.example.present? %>
    <div class="mb-8">
      <h2 class="text-2xl font-semibold mb-2">Example</h2>
      <p class="text-xl italic leading-relaxed"><%= sanitize @term.example, tags: %w(a), attributes: %w(href) %></p>
    </div>
  <% end %>

  <% if @term.author.present? %>
    <div class="text-sm text-gray-600 mt-12">
      Defined by <%= @term.author %> on Urban Dictionary
    </div>
  <% end %>
</div>
